.cart{
    position: sticky;
    top: 0;
    display: grid;
    justify-content: center;
}
.cart h2{
    color: darkred;
}
.btn_chooseAgain{
    margin-top: 10px;
}
.delete_button{
    border: 0px;
    background-color: antiquewhite;
}